<div *ngIf="loading">
  <div class="loading"></div>
  <div class="loading-text">
    <span>{{loadingMsg}}</span>
  </div>
</div>

<div style="text-align:center">
  <h1>
    Welcome to Poker App!
  </h1>
  <img width="150" src="../assets/img/pokerAppLogo.png">
</div>
<div class="buttons-wrapper" style="display: block">
  <div style="float: left">
    <button class="button" (click)="deckReset()">
      <img width="30" style="vertical-align: middle" src="../assets/img/shuffleIcon.png">Shuffle Deck
    </button>
  </div>
  <div style="float: right">
    <button class="button" (click)="deckDeal()">
      <img width="30" style="vertical-align: middle" src="../assets/img/dealIcon.png">Deal Next Hand
    </button>
  </div>
</div>

<div style="margin-top: 100px;"></div>
<div *ngIf="errorMessage !== ''" [ngClass]="{'alert alert-danger' : (errorMessage !== '')}" class="buttons-wrapper" style="text-align: center">
  {{errorMessage}}
</div>
<div *ngIf="resultMessage !== ''" [ngClass]="{'alert alert-success' : (resultMessage !== '')}" class="buttons-wrapper" style="text-align: center">
  {{resultMessage}}
</div>

<div style="margin-top: 100px;"></div>
<div class="buttons-wrapper" style="display: block">
  <div style="float: left">

  </div>
  <div style="float: right">

  </div>
</div>
